@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}


a,h2,h3,h4,h5,h6,p,li,span{
    line-height: 1.5;
    text-decoration: none;
    list-style-type: none;
    color: #000;
}

body{
    max-width: 1600px;
    width: 100%;
    height: 100%;
    min-height: 100dvh;
    margin: 0 auto;
    background-color: #fff;
    font-family: "Poppins", sans-serif;
}

.root{
    background-color: rgb(255, 255, 255);
    height: 100dvh;
    width: 100%;
}


/*===========NAVBAR===========*/

nav{
    display: flex;
    justify-content: space-between;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding: 0 2em;
    align-items: center;
    z-index: 1000;
    height: 3.5em;
}

.nav-logo span{
    font-size: 50px;
    font-weight: 500;    
}

nav ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5em;
}

.nav-links ul li{
    position: relative;
}

.nav-links ul li::after{
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 2px;
    width: 0%;
    padding-top: 1px;
    background-color: rgb(10, 31, 137);
    transform-origin: left;
    transition: all 300ms ease;
}

.nav-links ul li:hover::after{
    width: 100%;
}

.toggle-navbar{
    display: none;
}

.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    display: none;
    background-color: red;
    height: 100dvh;
    width: 250px;
    transform: translateX(100%);
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.8);
    transition: all 200ms ease;
}

.sidebar.close{
    transform: translateX(100%);
}

.sidebar.show{
    transform: translateX(0);
}

.sidebar ul{
    display: flex;
    flex-direction: column;
    margin-top: 2em;
    text-align: center;
}

.sidebar ul li{
    width: 100%;
    padding:1em 0;
    transition: 300ms ease;
}

.sidebar ul li:hover{
    background-color: blue;
}

@media screen and (max-width: 700px){

    nav{
        margin: 0;
        padding: 0 .5em;
    }

    .toggle-navbar{
        display: block;
    }

    .toggle-navbar svg{
        color: #000;
        background-color: black;
    }

    .nav-links{
        display: none;
    }

    .sidebar{
        display: block;
    }

}


/*===========MAIN SECTION===========*/

main{
    padding-top: 3.5em;
    width: 100%;
}

.main-container{
    display: flex;
    flex-direction: column;
    height: 100dvh;
    width: 100%;
    align-items: center;
    justify-content: center;
    background-color: #fff;
    overflow: hidden;
}


.main-title{
    text-align: center;
    margin-bottom: 1.5em;
}

.main-title span{
    font-size: 2.8em;
    font-weight: 400;
    letter-spacing: 5px;
}

.class-cont{
    display: grid;
   /* grid-template-columns: repeat(auto-fit, minmax(auto, 1fr));*/
    grid-template-columns: auto;
    align-items: center;
    gap: 1em;
    width: 100%;
}

.class{
    margin: 0 30%;
    padding: 1.5em;
    margin-bottom: 1em;
    border-radius: 10px;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 200ms ease-in-out;

}

.class:hover{
    transform: translateY(-5px);
}

.class h3{
    color: #000;
    letter-spacing: 3px;
}

.note-title{
    text-align: center;
}

.dropdown{
    max-height: 0;
    opacity: 0;
    overflow: hidden;
    transition: all 300ms ease-in-out;
}

.dropdown-list li{
    font-size: 1.2em;
    letter-spacing: 3px;
    line-height: 1.5em;
    text-align: center;
}

.dropdown.show{
    margin-top: 1em;
    max-height: 500px;
    opacity: 1;
}

/*===========FOOTER===========*/

footer{
    background-color: #fff;
    text-align: center;
    letter-spacing: 1px;
    font-size: 12px;
    padding-top: 1em;
}
